<html lang="en" data-theme="retro">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fund My Project!</title>
    {{! <link rel="stylesheet" href="/css/global.css" /> }}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>

    <main class="container mx-auto mt-10">
      {{{body}}}
    </main>

    <!-- Render script for logged in users only -->
    {{#if isLogged}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>