<html lang="en" data-theme="retro">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fund My Project!</title>
    {{! <link rel="stylesheet" href="/css/global.css" /> }}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header>
      <nav class="flex justify-between p-3">
        <!-- Conditionally render login or logout links -->
        <h1>
          <a href="/" class="text-3xl">LOGO</a>
        </h1>
        {{#if isLogged}}
          <a href="/profile">profile</a>
          |
          <button class="btn btn-primary" id="logout">logout</button>
        {{else}}
          <a href="/signin">
            <button class="btn btn-primary" id="signinBtn">sign in</button>
          </a>
        {{/if}}
      </nav>
    </header>
    <main class="container mx-auto">
      {{{body}}}
    </main>
    <footer>

    </footer>

    <!-- Render script for logged in users only -->
    {{#if isLogged}}
      <script src="/js/logout.js"></script>
    {{else}}
      <script src="/functions/isLogged.js"></script>
    {{/if}}
  </body>

</html>