<html lang="en" data-theme="retro">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    {{! <link rel="stylesheet" href="/css/global.css" /> }}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header>
      <nav class="flex justify-between p-3">
        <!-- Conditionally render login or logout links -->
        <h1>
          <a href="/" class="text-3xl mb-3">Tech Blog</a>
          <a href="/"><button class="btn btn-primary" id="home">Home</button></a>
        </h1>
        {{#if isLogged}}
          <div>
            <a href="/dashboard"><button
                class="btn btn-primary"
                id="dashboard"
              >dashboard</button></a>
            <button class="btn btn-primary" id="logout">logout</button>
          </div>
        {{else}}
          <div>
            <a href="/signin">
              <button class="btn btn-primary mb-3" id="signinBtn">sign in</button>
            </a>
            <a href="/signup">
              <button class="btn btn-primary" id="signupBtn">sign up</button>
            </a>
          </div>
        {{/if}}
      </nav>
    </header>
    <main class="container mx-auto mt-10">
      {{{body}}}
    </main>
    <footer>
      <div class="mb-10"></div>
    </footer>

    {{#if isLogged}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>