<div class="flex flex-col gap-5">
    <div class="card glass w-full">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="italic text-xs">Created by {{user.name}} on {{format_date date_created}}</p>
        <div class="whitespace-pre-wrap">
          {{text}}
        </div>
      </div>
    </div>
</div>