<div class="grid grid-cols-1 gap-2 form-control w-full max-w-xs">
  <h2 class="text-2xl font-bold">Sign Up</h2>
  <label class="block">
    <span class="label-text">What is your name?</span>
    <input
      id="name"
      type="text"
      placeholder="Nome Sobrenome"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <label class="block">
    <span class="label-text">What is your email?</span>
    <input
      id="email"
      type="email"
      placeholder="nome@exemplo.com.br"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <label class="block">
    <span class="label-text">Type a new password?</span>
    <input
      id="password"
      type="password"
      placeholder="ExemPloSenHa9#"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <button class="btn btn-primary" id="signupBtn">sign up</button>
</div>

<script src="./functions/signup.js"></script>